.scorecard{
  display: flex;
}

.container{
  border: 1px solid #DADFEA;
  padding: 5px;
  margin-right: 5px;
  display: flex;
  flex-direction: column;
}

.item {
  padding: 5px;
  text-align: center;
  font-size: 14px;
  margin-bottom: 5px;
}

.hole{
  border: 1px solid #DADFEA;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.player{
  display: flex;
}
