doctype html
html
    head
        title Home
    body
        div Login

        form(action='/login', method='post')
            div
                +textInput('userId', 'User Id: ')
            div
                +textInput('name', 'Name: ')
            div
                +textInput('email', 'Email Address: ')
            div
                +textInput('age', 'Age: ')
            div
                input(type='submit' value='Submit')