/*ENTIRE WEBSITE*/

body,html{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

body{
    background-color: #2a2a2a;
}

h1{
    font-size: 50px;
    margin: 5px;
    font-family: 'Gloria Hallelujah', cursive;
}

h2{
    font-size: 40px;
    margin: 5px;
    font-family: 'Gloria Hallelujah', cursive;
}

h3{
    font-size: 30px;
    margin: 5px;
    font-family: 'Gloria Hallelujah', cursive;
}

.container{
    background-color: #FFFFFF;
    width: 80%;
    margin: 50px auto;
    padding: 20px;
}

.headerBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation{
    text-align: right;
}

.titleSection{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.title{
    font-family: 'Gloria Hallelujah', cursive;
}

.subtitle{
    text-align: center;
}

.myButton{
    background-color: #000000;
    text-align: center;
    color: #ffffff;
    width: 150px;
    height: 50px;
}

.spacerTop{
    padding: 50px;
}

.spacerBottom{
    padding-bottom: 50px;
}

.spacerLeft{
    padding-left: 50px;
}

.spacerRight{
    padding-right: 50px;
}

.spacerAll{
    padding: 50px;
}

/*HOME PAGE ONLY*/

/*ABOUT PAGE ONLY*/

.headPhoto{
    width: 100%;
    height: 450px;
    background: url("../images/lego.png") no-repeat;
    background-size: cover;
    margin-bottom: 20px;
}

.bottom{
    display: flex;
}

.bLeft{
    background-color: #dadfea;
    width: calc(33% - 20px);
    padding: 20px;
}

.myLink{
    display: flex;
    align-items: center;
    margin: 10px 10px;
}

.myLink img{
    height: 60px;
    margin-right: 10px;
}

.bRight{
    display: flex;
    flex-direction: column;
    width: calc(66% - 20px);
    margin-left: 20px;
}